<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd"
       default-lazy-init="false" default-autowire="byName">

    <description>Spring Configuration</description>
    <bean class="me.wujn.panda.shardingjdbc.idgen.repository.ZkWorkerNodeRepositoryImpl" id="workerNodeRepository">
        <property name="zookeeperAddress" value="10.0.1.57:2181"/>
    </bean>
    <bean class="me.wujn.panda.shardingjdbc.idgen.worker.ReuseableWorkerIdAssigner" id="workerIdAssigner">
        <property name="appName" value="panda"/>
        <property name="enableFileCache" value=""/>
        <property name="fileCachePath" value=""/>
    </bean>
    <bean class="me.wujn.panda.shardingjdbc.idgen.impl.DefaultIdGenerator" id="defaultIdGenerator">
        <property name="workerIdAssigner" ref="workerIdAssigner"/>

    </bean>
</beans>